#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-top: 5rem;
    padding: 1rem 0;
    border-top: 3px solid #7946a8;
    position: relative;
}

#form > .information-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 40px;
    background-color: #7946a8;
    border-radius: 16px;
    position: absolute;
    top: -24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.363);

    p {
        color: #fff;
        font-size: .9em;
    }
}

/* Formulário */
#form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    border: 1px solid #7946a8;
    width: 600px;
    height: 250px;
    padding: 1rem;
    background-color: rgba(121, 70, 168, 0.24);
    border-radius: 8px;

    /* Campo de entrada de dados */
    .control-input-form {
        display: flex;
        flex-direction: column;

        label {
            color: #fff;
            font-weight: 600;
            width: fit-content;
            margin-bottom: .5rem;
        }

        input#email-user {
            width: 400px;
            padding: .7rem .5rem;
            border-radius: 4px;
            border: 1px solid #fff;
    
            &:focus {
                border: 1px solid #000;
                outline: 2px solid #7946a8;
            }
        }

        /* Mostrar erro */
        .mostrarError {
            width: 400px;
            height: 30px;
            padding-top: .5rem;
    
            #emailError {
                display: none;
                font-size: .7em;
                color: #ca5959;
            }
        }
    }


    /* Lembrar usuário */
    .remember-me {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        width: 400px;
        height: 30px;
        margin-top: 1rem;

        input#remember-user {
            width: fit-content;
        }

        label {
            font-size: .9em;
            color: #fff;
            cursor: pointer;
        }
    }

    /* Botão submit */
    .btn-submit-form {
        width: 400px;
        border: none;
        border-radius: 4px;
        padding: .8rem;
        background-color: #7946a8;
        color: #fff;
        font-weight: 600;
        margin-top: 1rem;
        font-size: .9em;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: #8550b6;
        }
    }
}